* {
  padding: 0;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.dropdown-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dropdown-menu {
  position: relative;
  #border: 2px solid red;
}

button {
  background-color: rgb(108, 238, 255);
  padding: 16px;
  font-size: 16px;
  border: none;
}

ul {
  position: absolute;
  left: -25%;
  background-color: rgb(189, 188, 188);
  width: 160px;
  list-style: none;
  #display: none;
  text-align: center;
  max-height: 0%;
  transition: max-height 0.3s;
  overflow:hidden; /* important part */
}

li {
  padding: 16px;
  
}.dropdown-menu:hover ul {
	#display: block;
	cursor: pointer;
  max-height:300%;
}

.dropdown-menu:hover button {
	cursor: pointer;
	background-color: rgb(80, 210, 227);
	
}

.dropdown-container:hover{
#	background-color: rgb(90, 220, 237);
 # border: 2px solid red;
}

ul li:hover{
	background-color: rgb(210,210,210);
}



