@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
  display:flex;
  flex-direction:column;
  justify-content: space-between;
}

img {
  width: 600px;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
  padding-top :5px;
  padding-bottom :5px;
  padding-left:12px;
  padding-right :12px;

}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
  margin-bottom: 16px;
}

.header,
.footer{

  display:flex;
  justify-content: space-between;
}

.footer{
  background-color:#eeeeee
}

ul{

  list-style-type: none;
  display:flex;
  padding:15px;
  margin:0px;
  gap:15px;
}

a{
  font-family: Roboto, sans-serif;
  color:darkslategray;
  text-decoration: none;
  font-size:15px;
}

.content{
  display:flex;

  flex-direction: column;
  align-items:center;
  /*text-align:center;
  /* Things that don't work lol
  margin:auto;
  justify-content: center;
  align-items:center;
  */
}
